* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: left;
    z-index: 100;
}

.navbar {
    padding: 10px;
    position: absolute;
    left: 800px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    position: relative;
    margin-right: 20px;
}

.nav-link {
    font-size: 18px; 
    font-weight: 500; 
    font-family: 'Poppins', sans-serif; 
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease; 
}

.nav-link:hover {
    color: white; 
    background-color: #00abf0; 
    border-radius: 20px; 
}

.navbar .nav-link:hover,
.navbar .nav-link:active {
    color: #ffffff;
}

.cert-icon a {
    position: fixed;
    left: 50px;
    top: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;   
    font-size: 50px;
    color: #00abf0;
    text-decoration: none;
}

.link1 {
    color: #ededed;
    font-style: italic;
    text-decoration: none;
}

.cert {
    top: 205px;
    position: fixed;
    left: 57px;
    font-size: large;
}